* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/*Footer always at the bottom
    1. Set html and body with height 100%.
    2. Set "body" as "display: flex; flex-direction: column;". Your items under body will now be flex.
    2. Set your main content (it could be "main", because you already "flex" your "body"), with "flex: 1;". This will indicate to the content to "push" your footer till the end, because your "body" uses the 100% of the height of the screen.
    SideNote: pinche footer.
*/
html {
    height: 100%;
}

body {
    height: 100%;
    /* background-color: #302F30; */
    background: linear-gradient(to bottom, rgb(48, 47, 48), rgb(48, 47, 48, 0.6), rgb(48, 47, 48));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Home/index.*/
/*-------------------------header------------------------*/
header{
    width: 100%;
}
.generalStyle {
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #8DC341 solid;
}

.generalStyle img {
    width: 3rem;
    height: 3rem;
    padding: .2rem 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1.4rem;
}

.menu ul li a {
    text-decoration: none;
    font-size: .6rem;
    color: whitesmoke;
}

.menu ul li a:hover {
    color: #8DC341;
}

/*--------------------------main------------------------*/
main {
    flex: 1;
}

#nameAgency {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameAgency h1 {
    width: 18rem;
    color: #8DC341;
    margin: 30px 0;
    border-bottom: whitesmoke solid;
    border-top: whitesmoke solid;
}

#pVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    padding-bottom: 30px;
    border-bottom: #8DC341 solid;
}

#pVideo p {
    width: 7rem;
    color: whitesmoke;
    font-weight: bold;
    border-left: #8DC341 solid;
    border-right: #8DC341 solid;
}

#pVideo iframe {
    width: 13rem;
    height: auto;
}

/*quiz*/
#quiz {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions {
    max-width: 800px;
    /* border-bottom: #8DC341 solid; */
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#instructions p {
    width: 25rem;
    font-size: larger;
}

#q1,
#q2,
#q3 {
    display: none;
}

/*--------------------------footer-----------------------*/

#footer {
    max-width: 800px;
    margin: auto;
    height: 30px;
    /* background-color: rgb(80, 80, 80); */
    border-top: #8DC341 solid;
    color: whitesmoke;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/*--------------------------mq-----------------------*/
@media screen and (min-width: 720px) {
    .generalStyle {
        justify-content: space-between;
        padding-right: 2rem;
    }

    .generalStyle img {
        padding: 0;
    }

    .menu ul {
        gap: 3rem;
    }

    .menu ul li a {
        font-size: 1rem;
    }

    #nameAgency h1 {
        width: 35rem;
        padding: .3rem 0;
    }

    #pVideo p {
        width: 15rem;
    }

    #pVideo iframe {
        width: 25rem;
        height: 12rem;
    }

    #footer {
        font-size: .7rem;
    }
}

/*Services*/
/*Use of grid.*/
main {
    width: 80%;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 47.5% 5% 47.5%;
    justify-content: center;

}

.section1 ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}
.section1 ul li{
    align-content: center;
}

.section2 {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.section2 h3{
    align-content: center;
}
.section2 ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.section2 ul li {
    align-content: center;
}


main div {
    display: grid;
    align-items: center;

}

main div a {
    text-decoration: none;
}

main div a h2 {
    color: whitesmoke;
}
















/*
Color verder> #8DC341

linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)