* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, rgb(48, 47, 48), rgb(48, 47, 48, 0.6), rgb(48, 47, 48));
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gc {
    color: #8DC341;
}

.wc {
    color: whitesmoke;
}

.larger {
    font-size: 1.5rem;
}

.bc {
    background: linear-gradient(to bottom, rgb(48, 47, 48), rgb(48, 47, 48, 0.6), rgb(48, 47, 48));
}

.bc div h3 {
    font-size: 1em;
}

.imgSize {
    width: 10rem;
    height: 6rem;
    object-fit: cover;
}

/*--------------------HOME-------------------*/
/*--------------------header-----------------*/
header {
    width: 100%;
}

.generalStyle {
    max-width: 900px;
    margin: auto;
    padding: 0.2rem;
    display: flex;
    justify-content: space-around;
    border-bottom: #8DC341 solid;
}

.generalStyle img {
    width: 3rem;
    height: 3rem;
    padding: .2rem 0;
}

.menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu ul li a {
    justify-content: center;
    text-decoration: none;
    font-size: .7rem;
    color: whitesmoke;
}

.menu ul li a:hover {
    color: #8DC341;
}


/*---------------------main------------------*/
main {
    flex: 1;
    border-bottom: #8DC341 solid;
}

.nameAgency {
    max-width: 900px;
    padding: 1.5rem;
    border-bottom: #8DC341 solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.nameAgency h1 {
    max-width: 400px;
    width: 80vw;
    font-weight: lighter;
    font-size: 1.3em;
    color: whitesmoke;
    border-bottom: #8DC341 solid;
}

.pVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pVideo p {
    width: 80vw;
    padding: 1rem;
}

.pVideo iframe {
    width: 80vw;
    height: 44vh;
}

.instructions button:hover {
    color: #8DC341;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(48, 47, 48), rgb(48, 47, 48, 0.6), rgb(48, 47, 48));
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions p {
    padding: 0px 10px;
    width: 25rem;
    font-size: larger;
}

.q1,
.q2,
.q3 {
    width: 80vw;
    padding-bottom: 2rem;
    display: none;
}

.bq1,
.bq2,
.bq3 {
    display: flex;
    justify-content: space-evenly;
}

.bTrue:hover {
    color: whitesmoke;
    background-color: #8DC341;
}

.bFalse:hover {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
}


/*--------------------footer-----------------*/
.footer {
    height: 10vh;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footer a:hover {
    color: #8DC341;
}


/*-----------------SERVICES------------------*/
/*----------------Use of grid---------------*/

.sections {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 10% 45%;
    justify-content: center;

}

.section1 {
    padding-top: 1rem;
    display: grid;
    justify-content: center;
    gap: .5rem;
}

.sections div h2 {
    font-weight: lighter;
    font-size: 1.3em;
}

.section1 div {
    max-width: 400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
}

.section1 div p {
    font-size: .85rem;
}

.scribe {
    margin: 1.5rem 80px 0 80px;
    border-bottom: #8DC341 solid;
    border-top: #8DC341 solid;
}

.scribe a {
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

.scribe a:hover {
    color: #8DC341;
}

.section2 {
    margin: 2rem 2rem 2rem;
}

.cardImage {
    height: 15rem;
}

.cardLink {
    text-decoration: none;
    color: whitesmoke;
}

.cardLink:hover {
    color: #8DC341;
}




/*-----------------ABOUT------------------*/
.aboutMain {
    margin: 2rem 2rem 2rem 2rem;
    max-width: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mainText {
    margin-bottom: 3rem;
}

.mainImages {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.imageOne {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.imageTwo {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.mainImages div p {
    margin-top: 3rem;
}


/*-----------------CONTACT US------------------*/





/*--------------------mq-----------------*/
/*---------------Home - header-----------*/
@media screen and (min-width: 720px) {
    .generalStyle {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: larger;
        justify-content: center;
        gap: 2rem;
    }

    .generalStyle img {
        padding: 0;
    }

    .menu ul {
        gap: 5rem;
    }

    .menu ul li a {
        font-size: 1rem;
    }


    /*---------------Home - main-----------*/
    .nameAgency h1 {
        font-size: 1.6em;
    }

    .pVideo p {}

    .pVideo iframe {
        width: 28rem;
        height: 17rem;
    }

    /*---------------Home - footer-----------*/
    .footer {
        font-size: 0.8rem;
    }

    /*-----------Services - header-----------*/

    .sections {
        max-width: 900px;
    }

    .cardCenter {
        display: flex;
        justify-content: center;
    }

    /*-----------About - main-----------*/
    .aboutMain {
        max-width: 800px;
    }
    .imgSize{
        width: 16rem;
        height: 12rem;
    }
}