/*Footer always at the bottom
    1. Set html and body with height 100%.
    2. Set "body" as "display: flex; flex-direction: column;". Your items under body will now be flex.
    2. Set your main content (it could be "main", because you already "flex" your "body"), with "flex: 1;". This will indicate to the content to "push" your footer till the end, because your "body" uses the 100% of the height of the screen.
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                    /*INDEX.*/
/*-------------------------header------------------------*/
/*--------------------------main------------------------*/
/*--------------------------footer-----------------------*/

/*--------------------------mq-----------------------*/
/*Tablet*/
/*PC*/


                    /*PAGE1*/
/*-------------------------header------------------------*/
/*--------------------------main------------------------*/
/*--------------------------footer-----------------------*/

/*--------------------------mq-----------------------*/
/*Tablet*/
/*PC*/


                    /*PAGE2*/
/*-------------------------header------------------------*/
/*--------------------------main------------------------*/
/*--------------------------footer-----------------------*/

/*--------------------------mq-----------------------*/
/*Tablet*/
/*PC*/